<div class="course_info">
  <div class="detail_info">
    <div class="tab_btn_container">
      <button id="gtBtn">Giới thiệu</button><button id="ndBtn">Nội dung</button><button
        id="lhBtn"
      >Lịch học</button>
    </div>
    <div class="tab_info">
      <div id="intro_tab" class="show_flex">
        <div class="info_container">
          <div class="name">{{course.name}}</div>
          <div class="descript fntNormal">{{course.description}}</div>
        </div>
        <div class="descript">
          <span>Kiểm duyệt</span>
          Đánh giá:
          {{course.rating}}<img
            src="https://i.ibb.co/Ldn3Hv0/star.png"
            alt=""
          />
          ({{course.votes}}
          lượt đánh giá)
          {{course.student}}
          học viên.
        </div>
        <div class="descript">Giảng viên hướng dẫn:
          <a href="/lo-van-thanh">Lò Văn Thành.</a></div>
        <div class="descript">Loại khóa học: Theo buổi.</div>
        <div class="descript">Danh mục:
          <a href="/lap-trinh">{{course.type}}.</a></div>
        <div class="descript"><i class="far fa-clock"></i>
          Thời gian hoàn thành dự kiến:
          {{course.time}}h.</div>
      </div>
      <div id="plan_tab">
        <div class="plan_column" style="padding-right: 2em;">
          {{#each course.plan1}}
            <div>
              <i class="fas fa-check"></i>
              <div>{{this}}</div>
            </div>
          {{/each}}
        </div>
        <div class="plan_column">
          {{#each course.plan2}}
            <div>
              <i class="fas fa-check"></i>
              <div>{{this}}</div>
            </div>
          {{/each}}
        </div>
      </div>
      <div id="schedule_tab">
        {{#each course.tutor.schedule}}
          <div class="schedule">
            <h2>{{this.day}}</h2>
            {{#each this.time}}
              <div class="time">
                <input type="checkbox" name="mon_ca_1" />
                <label for="mon_ca_1">{{this}}</label>
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="base_info">
    <div class="course_card">
      <div class="img_container">
        <div></div>
        <img src="{{course.img}}" alt="" />
      </div>
      <div class="name_info">
        {{course.name}}
      </div>
      <div class="tutor_info">
        Giảng viên :
        {{course.tutor.name}}
      </div>
      <div class="price_info">
        {{course.price}}
      </div>
      <button id="addCartBtn">Thêm vào giỏ hàng</button>
      <button id="buyBtn">Mua ngay</button>
    </div>
  </div>
</div>